Repository Odismile/Skapa: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_web_dev, build_strapi_dev, build_web_preprod, build_strapi_preprod

build_web_dev:
  stage: build
  image: docker:latest
  services:
  - docker:18.09-dind
  retry:
    max: 1
    when:
    - script_failure
  before_script:
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
  - cd $FOLDER
  - docker build -t $IMAGE:$TAG $ARG .
  - docker push $IMAGE:$TAG
  variables:
  ...

build_strapi_dev:
  stage: build
  image: docker:latest
  services:
  - docker:18.09-dind
  retry:
    max: 1
    when:
    - script_failure
  before_script:
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
  - cd $FOLDER
  - docker build -t $IMAGE:$TAG $ARG .
  - docker push $IMAGE:$TAG
  variables:
  ...

build_web_preprod:
  stage: build
  image: docker:latest
  services:
  - docker:18.09-dind
  retry:
    max: 1
    when:
    - script_failure
  before_script:
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
  - cd $FOLDER
  - docker build -t $IMAGE:$TAG $ARG .
  - docker push $IMAGE:$TAG
  variables:
  ...

build_strapi_preprod:
  stage: build
  image: docker:latest
  services:
  - docker:18.09-dind
  retry:
    max: 1
    when:
    - script_failure
  before_script:
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
  - cd $FOLDER
  - docker build -t $IMAGE:$TAG $ARG .
  - docker push $IMAGE:$TAG
  variables:
  ...

Fix
  server/skapa/api/profiles/config/schema.graphql.js
Due: build_strapi_dev, build_strapi_preprod

Fix check email
  server/skapa/api/profiles/config/schema.graphql.js
  server/skapa/api/profiles/controllers/profiles.js
Due: build_strapi_dev, build_strapi_preprod

Disable policy create profile
  server/skapa/api/profiles/config/schema.graphql.js
Due: build_strapi_dev, build_strapi_preprod

features-google
  client/web/package.json
  client/web/src/Components/Icons/Google/Google.tsx
  client/web/src/Components/Icons/Google/index.ts
  client/web/src/Containers/Authentication/Login/Login.tsx
  client/web/src/Locales/en.json
  client/web/src/Locales/fr.json
  client/web/yarn.lock
Due: build_web_dev, build_web_preprod

features-login-google
  client/web/graphql-schema.json
  client/web/src/Containers/Authentication/Login/Login.tsx
  client/web/src/Containers/OnboardingProfileThree/OnboardingProfileThree.tsx
  client/web/src/GraphQL/authentication/mutation.ts
  client/web/src/GraphQL/authentication/types/checkmail.ts
  client/web/src/Providers/AuthProvider/hooks/useCheckEmail.tsx
  package.json
  yarn.lock
Due: build_web_dev, build_web_preprod

fix-auth-google
  client/web/.env.dev
  client/web/.env.staging
  client/web/src/Containers/Authentication/Login/Login.tsx
  client/web/src/Locales/en.json
  client/web/src/Locales/fr.json
Due: build_web_dev, build_web_preprod

Fix google authentication strapi
  client/web/package.json
  client/web/src/Containers/Authentication/Google/Google.tsx
  client/web/src/Containers/Authentication/Google/index.ts
  client/web/src/Containers/Authentication/Login/Login.tsx
  client/web/src/Locales/en.json
  client/web/src/Routes/routes.tsx
  server/skapa/.env.example
  server/skapa/config/server.js
Due: build_web_dev, build_strapi_dev, build_web_preprod, build_strapi_preprod

add snackbar
  client/web/src/Containers/Authentication/Login/Login.tsx
Due: build_web_dev, build_web_preprod

add-env-link
  client/web/src/Containers/Authentication/Google/Google.tsx
  client/web/src/Containers/Authentication/Login/Login.tsx
  client/web/yarn.lock
Due: build_web_dev, build_web_preprod

Fix server
  server/skapa/config/server.js
Due: build_strapi_dev, build_strapi_preprod

env-example
  client/web/.env.example
Due: build_web_dev, build_web_preprod

fix server
  server/skapa/config/server.js
Due: build_strapi_dev, build_strapi_preprod

fix server
  server/skapa/.env.example
  server/skapa/config/server.js
Due: build_strapi_dev, build_strapi_preprod

Fix env
  client/web/src/Constants/Config.ts
  client/web/src/Containers/Authentication/Google/Google.tsx
  client/web/src/Containers/Authentication/Login/Login.tsx
  server/skapa/config/server.js
Due: build_web_dev, build_strapi_dev, build_web_preprod, build_strapi_preprod

Fix env
  client/web/src/Constants/Config.ts
Due: build_web_dev, build_web_preprod

add-create-profil-auth-google
  client/web/src/Containers/Authentication/Google/Google.tsx
  client/web/src/Locales/en.json
  client/web/src/Locales/fr.json
Due: build_web_dev, build_web_preprod

add-wallet-profilType
  client/web/src/Containers/Authentication/Google/Google.tsx
Due: build_web_dev, build_web_preprod

create-profile
  client/web/src/Containers/Authentication/Google/Google.tsx
  client/web/src/Containers/Authentication/Login/Login.tsx
  client/web/src/Containers/OnboardingProfileSeven/OnboardingProfileSeven.tsx
Due: build_web_dev, build_web_preprod

Fix create profil
  client/web/src/Containers/Authentication/Google/Google.tsx
  client/web/src/Containers/Authentication/Login/Login.tsx
  client/web/src/Containers/OnboardingProfileSeven/OnboardingProfileSeven.tsx
  client/web/src/Providers/ProfilProvider/useCreateProfile.tsx
  client/web/src/ReactiveVariable/User/user.ts
Due: build_web_dev, build_web_preprod

Test with lappys staging
  client/web/src/Containers/OnboardingProfileSeven/OnboardingProfileSeven.tsx
Due: build_web_dev, build_web_preprod

fix redirection auth
  client/web/src/Containers/OnboardingProfileSeven/OnboardingProfileSeven.tsx
Due: build_web_dev, build_web_preprod

docker
  client/web/.env.dev
  docker-compose.yaml
Due: build_web_dev, build_web_preprod

Changes to make the Skapa project run locally
  .env
  .env-db
  .gitignore
  chat.txt
  client/web/.env
  client/web/src/Containers/OnboardingProfileFour/OnboardingProfileFour.tsx
  docker-compose.yaml
  package-lock.json
  server/skapa/api/profiles/controllers/profiles.js
Due: build_web_dev, build_strapi_dev, build_web_preprod, build_strapi_preprod

Path conditions:
  build_web_dev: any of: client/web/**/*, .gitlab-ci.yml
  build_strapi_dev: any of: server/skapa/**/*, .gitlab-ci.yml
  build_web_preprod: any of: client/web/**/*, .gitlab-ci.yml
  build_strapi_preprod: any of: server/skapa/**/*, .gitlab-ci.yml
