Repository Odismile/Skapa: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_web_dev, build_strapi_dev

.gitlab-ci.yml:

stages:
  - build
  - deploy

#--------------------------------RULES-------------------------------#
#DEV
.client_web_rules_dev: &client_web_rules_dev
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
      changes:
        - client/web/**/*
        - .gitlab-ci.yml

.strapi_rules_dev: &strapi_rules_dev
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
      changes:
        - server/skapa/**/*
        - .gitlab-ci.yml

.deploy_rules_dev: &deploy_rules_dev
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'

#---------------------------------BUILD------------------------------#

.build_image: &build_image
  stage: build
  image: docker:latest
  services:
    - docker:18.09-dind
  retry:
    max: 1
    when:
      - script_failure
  before_script:
    - 'docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY'
  script:
    - cd $FOLDER
    - docker build -t $IMAGE:$TAG $ARG .
    - docker push $IMAGE:$TAG

#DEV
build_web_dev:
  <<: *build_image
  <<: *client_web_rules_dev
  stage: build
  variables:
    IMAGE: ${CI_REGISTRY_IMAGE}/staging/web
    FOLDER: ./client/web/
    ARG: '--build-arg REACT_APP_API_URL=$API_STAGING --build-arg REACT_APP_WS_URL=$WS_STAGING -f Dockerfile.dev'
    TAG: staging

build_strapi_dev:
  <<: *build_image
  <<: *strapi_rules_dev
  variables:
    IMAGE: ${CI_REGISTRY_IMAGE}/staging/strapi
    TAG: staging
    FOLDER: ./server/skapa
    ARG: '-f Dockerfile.dev'

#---------------------------------DEPLOY-------------------------------#

.deploy_all: &deploy_all
  stage: deploy
  image: alpine:latest
  services:
    - docker:18.09-dind
  variables:
    USER: $USER_DEPLOYEMENT
    HOST: $HOST_DEPLOYEMENT
    PATH_COMPOSE: $PATH_COMPOSE
  before_script:
    - apk update
    - apk add --update openssh-client bash
    - eval $(ssh-agent -s)
    - bash -c 'ssh-add <(echo "$SSH_PRIVATE_KEY")'
    - mkdir -p ~/.ssh
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - scp docker-compose.staging.yml ${USER}@${HOST}:${PATH_COMPOSE}/docker-compose.yml
    - ssh ${USER}@${HOST} "cd ${PATH_COMPOSE} && docker-compose pull && docker-compose up -d"

#DEV
deploy_dev:
  <<: *deploy_all
  <<: *deploy_rules_dev
  stage: deploy
  environment: staging
  variables:
    USER: ${DEPLOYEMENT_USER}
    HOST: ${DEPLOYEMENT_IP_STAGING}
    PATH_COMPOSE: /root/Hairun-Project/skapa-staging

fix cors
  server/skapa/config/middleware.js
Due: build_strapi_dev

onboardin on progress...
  client/web/src/Containers/Onboarding/Onboarding.tsx
  client/web/src/Containers/Onboarding/styles.ts
  client/web/src/Theme/index.ts
  client/web/src/index.tsx
Due: build_web_dev

onboarding Page init
  client/web/src/Containers/Onboarding/Onboarding.tsx
  client/web/src/Containers/Onboarding/styles.ts
Due: build_web_dev

Expose pg port
  docker-compose.staging.yml
Due: none

mobile: add fragment user
  client/web/src/GraphQL/user/fragment.ts
Due: build_web_dev

web: add register mutation
  client/web/src/GraphQL/authentication/mutation.ts
  client/web/src/GraphQL/user/fragment.ts
Due: build_web_dev

client: add env file
  client/web/.env.staging
  client/web/src/Components/TextField/TextField.tsx
Due: build_web_dev

rebase
  client/web/graphql-schema.json
  client/web/src/GraphQL/authentication/mutation.ts
Due: build_web_dev

web: generate new type graphql
  client/web/graphql-schema.json
  client/web/package.json
  client/web/src/GraphQL/authentication/types/Register.ts
  client/web/src/GraphQL/user/types/UserPermissionMeInfo.ts
  client/web/src/GraphQL/user/types/UserPermissionMeRoleInfo.ts
  client/web/src/types/graphql-global-types.ts
Due: build_web_dev

web: fix login mutation
  client/web/src/GraphQL/authentication/mutation.ts
  client/web/src/GraphQL/authentication/types/Login.ts
  client/web/src/types/graphql-global-types.ts
Due: build_web_dev

add images
  client/web/src/Assets/images/logo.svg
  client/web/src/Assets/images/photo-tuto-01.svg
  client/web/src/Assets/images/photo-tuto-02.svg
  client/web/src/Assets/images/photo-tuto-03.svg
Due: build_web_dev

onboarding
  client/web/src/Containers/Onboarding/Onboarding.tsx
  client/web/src/Containers/Onboarding/styles.ts
Due: build_web_dev

add field lastname/surname
  server/skapa/api/languages/models/languages.settings.json
  server/skapa/extensions/users-permissions/models/User.settings.json
Due: build_strapi_dev

Custom user permissions
  server/skapa/extensions/users-permissions/config/schema.graphql.js
  server/skapa/extensions/users-permissions/models/User.settings.json
Due: build_strapi_dev

web: add signup mutation in web
  client/web/src/Components/TextField/TextField.tsx
  client/web/src/Containers/Authentication/Signup/Signup.tsx
  client/web/src/Providers/AuthProvider/hooks/useRegister.tsx
  client/web/src/types/signup.ts
Due: build_web_dev

web: signup finished
  client/web/src/Components/TextField/TextField.tsx
  client/web/src/Containers/Authentication/Signup/Signup.tsx
  client/web/src/Providers/AuthProvider/hooks/useRegister.tsx
  client/web/src/Utils/validator.ts
Due: build_web_dev

Set required false
  server/skapa/extensions/users-permissions/models/User.settings.json
Due: build_strapi_dev

onboarding start screen
  client/web/src/Containers/OnboardingStart/OnboardingStart.tsx
  client/web/src/Containers/OnboardingStart/index.ts
  client/web/src/Containers/OnboardingStart/styles.ts
Due: build_web_dev

adding Root
  client/web/src/Routes/routes.tsx
Due: build_web_dev

add new google fonts
  client/web/public/index.html
  client/web/src/index.css
Due: build_web_dev

package
  client/web/package.json
Due: build_web_dev

onBoardingStart
  client/web/src/Containers/OnboardingStart/OnboardingStart.tsx
Due: build_web_dev

custom theme
  client/web/src/Theme/index.ts
Due: build_web_dev

update onboarding start
  client/web/src/Containers/OnboardingStart/OnboardingStart.tsx
  client/web/src/Containers/OnboardingStart/styles.ts
Due: build_web_dev

Customize register
  server/skapa/extensions/users-permissions/config/schema.graphql.js
Due: build_strapi_dev

style slide
  client/web/src/Containers/Onboarding/styles.ts
Due: build_web_dev

ajout lien skype footer
  client/web/src/Containers/Onboarding/Onboarding.tsx
Due: build_web_dev

onboarding profile 1,2
  client/web/src/Components/TextField/TextField.tsx
Due: build_web_dev

register page
  client/web/src/Assets/images/IconDownload.svg
  client/web/src/Assets/images/logo-talent.svg
  client/web/src/Components/LanguagesChoice/LanguagesChoice.tsx
  client/web/src/Components/LanguagesChoice/style.tsx
  client/web/src/Components/TextField/TextField.tsx
  client/web/src/Containers/Authentication/Signup/styles.ts
  client/web/src/Containers/OnboardingProfile/OnboardingProfile.tsx
  client/web/src/Containers/OnboardingProfile/styles.ts
  client/web/src/Containers/OnboardingProfileTwo/OnboardingProfileTwo.tsx
  client/web/src/Containers/OnboardingProfileTwo/style.ts
  client/web/src/Routes/routes.tsx
Due: build_web_dev

add env
  server/skapa/.env.example
Due: build_strapi_dev

onbording slide structure
  client/web/src/Containers/Onboarding/Onboarding.tsx
  client/web/src/Containers/Onboarding/styles.ts
Due: build_web_dev

rectification style lien skip onboardingstart
  client/web/src/Containers/OnboardingStart/styles.ts
Due: build_web_dev

amélioration style create account
  client/web/src/Containers/Authentication/Login/styles.ts
Due: build_web_dev

headers
  client/web/src/Components/Header/Header.tsx
  client/web/src/Components/Header/index.ts
  client/web/src/Components/Header/style.ts
  client/web/src/Components/Icons/Award/Award.tsx
  client/web/src/Components/Icons/Award/index.ts
  client/web/src/Components/Icons/Burger/Burger.tsx
  client/web/src/Components/Icons/Burger/index.ts
  client/web/src/Components/Icons/HeartLine/HeartLine.tsx
  client/web/src/Components/Icons/HeartLine/index.ts
  client/web/src/Components/Icons/Photo/Photo.tsx
  client/web/src/Components/Icons/Photo/index.ts
Due: build_web_dev

routes
  client/web/src/Routes/routes.tsx
Due: build_web_dev

Send email confirmation
  client/web/yarn.lock
  server/skapa/config/plugins.js
  server/skapa/package.json
  server/skapa/yarn.lock
Due: build_web_dev, build_strapi_dev
