Repository Odismile/Skapa: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_web_dev, build_strapi_dev, build_web_preprod, build_strapi_preprod

build_web_dev:
  stage: build
  image: docker:latest
  services:
  - docker:18.09-dind
  retry:
    max: 1
    when:
    - script_failure
  before_script:
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
  - cd $FOLDER
  - docker build -t $IMAGE:$TAG $ARG .
  - docker push $IMAGE:$TAG
  variables:
  ...

build_strapi_dev:
  stage: build
  image: docker:latest
  services:
  - docker:18.09-dind
  retry:
    max: 1
    when:
    - script_failure
  before_script:
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
  - cd $FOLDER
  - docker build -t $IMAGE:$TAG $ARG .
  - docker push $IMAGE:$TAG
  variables:
  ...

build_web_preprod:
  stage: build
  image: docker:latest
  services:
  - docker:18.09-dind
  retry:
    max: 1
    when:
    - script_failure
  before_script:
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
  - cd $FOLDER
  - docker build -t $IMAGE:$TAG $ARG .
  - docker push $IMAGE:$TAG
  variables:
  ...

build_strapi_preprod:
  stage: build
  image: docker:latest
  services:
  - docker:18.09-dind
  retry:
    max: 1
    when:
    - script_failure
  before_script:
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
  - cd $FOLDER
  - docker build -t $IMAGE:$TAG $ARG .
  - docker push $IMAGE:$TAG
  variables:
  ...

wishlist
  client/web/src/Containers/Places/Places.tsx
  client/web/src/Containers/Talents/Talents.tsx
  client/web/src/Containers/Wishlist/styles.ts
Due: build_web_dev, build_web_preprod

active class in wishlist
  client/web/src/Components/Header/Header.tsx
Due: build_web_dev, build_web_preprod

modif
  server/skapa/Utils/firebaseCloudStorage.js
  server/skapa/api/projects/services/projects.js
Due: build_strapi_dev, build_strapi_preprod

web: update onboardingProfileThree
  client/web/graphql-schema.json
  client/web/src/Containers/OnboardingProfileThree/OnboardingProfileThree.tsx
  client/web/src/Containers/OnboardingProfileTwo/OnboardingProfileTwo.tsx
  client/web/src/Containers/OnboardingProfileTwo/style.ts
  client/web/src/GraphQL/Profile/fragment.ts
  client/web/src/GraphQL/Profile/mutation.ts
  client/web/src/GraphQL/Profile/types/ProfilInfo.ts
  client/web/src/GraphQL/Profile/types/ProfilsInfo.ts
  client/web/src/GraphQL/Profile/types/createProfile.ts
  client/web/src/types/graphql-global-types.ts
Due: build_web_dev, build_web_preprod

amélioration typo project
  client/web/src/Containers/ProjectContent/ProjectContent.tsx
  client/web/src/Containers/ProjectContent/styles.ts
Due: build_web_dev, build_web_preprod

amélioration card talents
  client/web/src/Components/CardTalents/CardTalents.tsx
  client/web/src/Components/CardTalents/style.ts
  client/web/src/Components/Place/Place.tsx
  client/web/src/Components/Place/style.ts
  client/web/src/Components/SimpleCardTalents/style.ts
Due: build_web_dev, build_web_preprod

amélioration card talent
  client/web/src/Components/CardProjects/style.ts
  client/web/src/Components/CardTalents/CardTalents.tsx
  client/web/src/Components/CardTalents/style.ts
  client/web/src/Components/HeaderDetails/HeaderDetails.tsx
  client/web/src/Components/SearchTalents/style.ts
  client/web/src/Components/SimpleCardTalents/SimpleCardTalents.tsx
  client/web/src/Components/SimpleCardTalents/style.ts
  client/web/src/Containers/Project/FicheTalents/styles.ts
Due: build_web_dev, build_web_preprod

fix skills recquired dans description
  client/web/src/Containers/Project/CreateProject/Description/Description.tsx
  client/web/src/Containers/Project/CreateProject/Description/styles.ts
Due: build_web_dev, build_web_preprod

Add first connection
  server/skapa/extensions/users-permissions/config/schema.graphql.js
Due: build_strapi_dev, build_strapi_preprod

fix connection
  server/skapa/extensions/users-permissions/config/schema.graphql.js
Due: build_strapi_dev, build_strapi_preprod

web: V1.save profil
  client/web/src/Components/LanguagesChoice/LanguagesChoice.tsx
  client/web/src/Containers/OnboardingProfile/OnboardingProfile.tsx
  client/web/src/Providers/ProfilProvider/useCreateProfile.tsx
Due: build_web_dev, build_web_preprod

web: V2.save profil
  client/web/src/Containers/OnboardingProfile/OnboardingProfile.tsx
  client/web/src/Providers/ProfilProvider/useCreateProfile.tsx
Due: build_web_dev, build_web_preprod

Fix home page
  client/web/src/Containers/HomePage/HomePage.tsx
Due: build_web_dev, build_web_preprod

web update user
  client/web/src/Containers/OnboardingStart/OnboardingStart.tsx
Due: build_web_dev, build_web_preprod

web: update user
  client/web/graphql-schema.json
  client/web/src/GraphQL/authentication/mutation.ts
  client/web/src/GraphQL/authentication/types/EmailConfirmation.ts
  client/web/src/GraphQL/user/fragment.ts
  client/web/src/GraphQL/user/mutation.ts
  client/web/src/GraphQL/user/types/UpdateUser.ts
  client/web/src/GraphQL/user/types/UserPermissionMeInfoCustom.ts
  client/web/src/Providers/AuthProvider/hooks/useLogin.tsx
  client/web/src/Providers/AuthProvider/hooks/useUpdateUser.tsx
  client/web/src/types/graphql-global-types.ts
Due: build_web_dev, build_web_preprod

web: set to reviews after create the project
  client/web/src/Components/TabLink/TabLink.tsx
Due: build_web_dev, build_web_preprod

web: V3.createProfil
  client/web/src/Containers/OnboardingProfile/OnboardingProfile.tsx
  client/web/src/Containers/OnboardingProfileTwo/OnboardingProfileTwo.tsx
  client/web/src/Providers/ProfilProvider/useCreateProfile.tsx
  client/web/src/ReactiveVariable/ButtonTest/ButtonTestEnable.tsx
  client/web/src/ReactiveVariable/Profil/profil.ts
Due: build_web_dev, build_web_preprod

Fix project
  server/skapa/api/projects/services/projects.js
Due: build_strapi_dev, build_strapi_preprod

coachs on progress...
  client/web/src/Containers/Coachs/Coachs.tsx
  client/web/src/Containers/Coachs/CoachsItem/CoachsItem.tsx
  client/web/src/Containers/Coachs/CoachsItem/index.ts
  client/web/src/Containers/Coachs/CoachsItem/styles.ts
  client/web/src/Containers/Coachs/index.ts
  client/web/src/Containers/Coachs/styles.ts
  client/web/src/Routes/routes.tsx
Due: build_web_dev, build_web_preprod

Coach items
  client/web/src/Containers/Coachs/CoachsItem/CoachsItem.tsx
  client/web/src/Containers/Coachs/CoachsItem/styles.ts
Due: build_web_dev, build_web_preprod

Add images
  client/web/src/Assets/images/coach_avatar.png
  client/web/src/Assets/images/thinker_picto.png
Due: build_web_dev, build_web_preprod

coachs
  client/web/src/Containers/Coachs/Coachs.tsx
  client/web/src/Containers/Coachs/styles.ts
Due: build_web_dev, build_web_preprod

Header update
  client/web/src/Components/Header/Header.tsx
  client/web/src/Components/Header/style.ts
Due: build_web_dev, build_web_preprod

update theme
  client/web/src/Theme/index.ts
Due: build_web_dev, build_web_preprod

adjustment background page
  client/web/src/index.css
Due: build_web_dev, build_web_preprod

ROUTES
  client/web/src/Routes/routes.tsx
Due: build_web_dev, build_web_preprod

config firebase
  server/skapa/Utils/firebaseCloudStorage.js
  server/skapa/api/projects/services/projects.js
Due: build_strapi_dev, build_strapi_preprod

Fix back office
  client/web/graphql-schema.json
  client/web/src/GraphQL/project/fragment.ts
  client/web/src/GraphQL/project/types/ProjectInfo.ts
  client/web/src/GraphQL/project/types/ProjectsInfo.ts
  client/web/src/GraphQL/project/types/createProject.ts
  client/web/src/GraphQL/project/types/project.ts
  client/web/src/types/graphql-global-types.ts
  server/skapa/extensions/users-permissions/config/policies/permissions.js
Due: build_web_dev, build_strapi_dev, build_web_preprod, build_strapi_preprod

work in progress
  client/web/src/Containers/OnboardingProfileFour/OnboardingProfileFour.tsx
  client/web/src/Containers/OnboardingProfileThree/OnboardingProfileThree.tsx
  client/web/src/ReactiveVariable/Profil/profil.ts
  server/skapa/extensions/users-permissions/config/policies/permissions.js
Due: build_web_dev, build_strapi_dev, build_web_preprod, build_strapi_preprod

Fix bo admin
  server/skapa/extensions/users-permissions/config/policies/permissions.js
Due: build_strapi_dev, build_strapi_preprod

FIx redirect first connection, create profil in progress
  client/web/src/Containers/Authentication/Login/Login.tsx
  client/web/src/Containers/OnboardingProfileFour/OnboardingProfileFour.tsx
  client/web/src/Containers/OnboardingProfileTwo/OnboardingProfileTwo.tsx
  client/web/src/Providers/AuthProvider/hooks/useLogin.tsx
  client/web/src/ReactiveVariable/Profil/profil.ts
  client/web/src/Utils/TransformSkillsId.ts
Due: build_web_dev, build_web_preprod

Fix merge
  client/web/src/Containers/OnboardingProfileSeven/OnboardingProfileSeven.tsx
Due: build_web_dev, build_web_preprod

web: update after first login
  client/web/src/Containers/OnboardingStart/OnboardingStart.tsx
Due: build_web_dev, build_web_preprod

Card space dans myactivity
  client/web/src/Assets/images/activity.png
  client/web/src/Components/CardSpace/CardSpace.tsx
  client/web/src/Components/CardSpace/style.ts
  client/web/src/Containers/Project/Project.tsx
Due: build_web_dev, build_web_preprod

change
  client/web/src/Containers/Project/Project.tsx
Due: build_web_dev, build_web_preprod

web: start-onboardingProfile3
  client/web/src/Containers/Project/CreateProject/CreateProject.tsx
Due: build_web_dev, build_web_preprod

fix display in wishlist
  client/web/src/Containers/Wishlist/styles.ts
Due: build_web_dev, build_web_preprod

web:final onboardingProfile3
  client/web/src/Containers/OnboardingProfileThree/OnboardingProfileThree.tsx
Due: build_web_dev, build_web_preprod

web: add image and video url
  client/web/src/Components/CardReview/CardReview.tsx
  client/web/src/Components/Place/Place.tsx
  client/web/src/Components/Presentation/Presentation.tsx
  client/web/src/Components/TabLink/TabLink.tsx
  client/web/src/Components/Tags/Tags.tsx
  client/web/src/GraphQL/project/fragment.ts
  client/web/src/GraphQL/project/query.ts
  client/web/src/GraphQL/project/types/ProjectsInfo.ts
  client/web/src/GraphQL/project/types/createProject.ts
  client/web/src/GraphQL/project/types/projects.ts
  client/web/src/Locales/en.json
  client/web/src/Locales/fr.json
  client/web/src/Providers/ProjectProvider/useGetProject.tsx
Due: build_web_dev, build_web_preprod

web: add image and video url
  client/web/src/Components/CardReview/CardReview.tsx
  client/web/src/Components/Pitch/Pitch.tsx
  client/web/src/Components/TabLink/TabLink.tsx
  client/web/src/Containers/Project/CreateProject/Review/Review.tsx
  client/web/src/Containers/Project/FicheProjects/FicheProjects.tsx
  client/web/src/Containers/Project/FicheTalents/FicheTalents.tsx
  client/web/src/Providers/ProjectProvider/useGetProject.tsx
Due: build_web_dev, build_web_preprod

Path conditions:
  build_web_dev: any of: client/web/**/*, .gitlab-ci.yml
  build_strapi_dev: any of: server/skapa/**/*, .gitlab-ci.yml
  build_web_preprod: any of: client/web/**/*, .gitlab-ci.yml
  build_strapi_preprod: any of: server/skapa/**/*, .gitlab-ci.yml
